<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        {% block stylesheets %}
                
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="{{asset('css/templatemo-style.css')}}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}



	</script>
        {% endblock %}
    </head>
    <body>
        {% include "part-template/_header.html.twig" %}

	
        {% block body %}

        {% endblock %}
			{% include "part-template/_footer.html.twig" %}
    </body>
      
</html>